@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased
}

.main-footer {
    background: url('../public/images/footer-bg.png');
    background-size: cover;
}

.animation-fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 3s;

}

.animation-delay-fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 3s;

}

.animation-delay-fadeInTop {
    animation: 3s ease 0s normal forwards 1 fadeInTop;
}

.slide-border {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 3px solid black;
    border-left: 3px solid black
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-pagination-bullet-active {
    background-image: url(../public/images/logo-bola.svg) !important;
}

.swiper-button-prev {
    background-image: url(../public/images/arrow-back.svg) !important;
    background-repeat: no-repeat;
    left: 1px !important;
    background-size: 12px !important;
}

.swiper-button-next {
    background-image: url(../public/images/arrow-next.svg) !important;
    background-repeat: no-repeat;
    right: -14px !important;
    background-size: 12px !important;
}

.swiper-button-prev::after {
    content: none !important;
}

.swiper-button-next::after {
    content: none !important;
}

.swiper-pagination-bullet {
    background-color: white !important;
    /* opacity: 1 !important; */
    width: 15px !important;
    height: 15px !important;
}